h1 {
  font-style: normal;
  font: monospace;
  font-size: 50px;
  color: black;
  text-align: center;
}
.est{
  text-align: center;
}
.saying{
  text-align: center;
}

body {
  background-image: url("Images/mainpic.png");
}
.shoplogo{
  position: absolute;
  top: 75px;
}
.saying{
  position: absolute;
  top: 75px;
  left: 991px;
}
.phonenumber {
  font-size: 40px;
  text-align: center;
}

/* Sandwich Name/Descprition/Picture */
.sandwichname {
  font-size: 40px;
}

.sandwichdescription {
  font-size: 18px;
}

.sandwichpicture {
  width: 200px;
  height: 150px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 30px;
}

.navlink {
  float: left;
}

.navlink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navlink a:hover {
  background-color: #111;
}

footer {
  text-align: center;
  padding: 3px;
  color: black;
}
